:root {
    --tlm-sheet: url(../../pf2e-dorako-ui/img/background-dark4.webp);
    --tlm-weekend:  rgb(55 55 55 /50%);
}

.simple-calendar-tlm .fsc-pf {
    color: var(--text-light);
}

.simple-calendar-tlm .fsc-v .fsc-w.fsc-aa {
    background-color: var(--color-border-dark-3) !important;
}

.simple-calendar-tlm .fsc-h .fsc-s .fsc-t .fsc-v .fsc-w {
    border: 1px solid var(--color-border-dark-4) !important;
}

.simple-calendar-tlm .fsc-h .fsc-s .fsc-t .fsc-v .fsc-w.fsc-x {
    background-color: var(--mats-green-dark) !important;
}

.simple-calendar-tlm .fsc-lb .fsc-mb {
    fill: var(--text-light) !important;
    stroke: var(--text-light);
}