.simple-calendar-tlm {
    height: fit-content !important;
    width: fit-content !important;
}

.simple-calendar-tlm .window-content {
    padding: 0 !important;
    overflow: visible;
}

.simple-calendar-tlm .fsc-wf {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.simple-calendar-tlm .fsc-qf {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.simple-calendar-tlm .fsc-fg {
    flex: 1;
}

.simple-calendar-tlm .fsc-vf {
    flex: 0 0 3.875rem;
    display: flex;
    flex-direction: column;
    width: 3.7rem;
    margin-left: 0.5rem;
    padding: 0 0.5rem;
}

.simple-calendar-tlm .fsc-mf.fsc-c {
    visibility: hidden;
}

.simple-calendar-tlm .fsc-if {
    display: flex;
    flex-direction: column;
}

.fsc-ga.fsc-ha {
    opacity: 0;
    height: 0;
    visibility: hidden;
}

.simple-calendar-tlm .fsc-pf .fsc-hh {
    margin: 0 0 0.5rem 0;
    flex: 1;
}

.simple-calendar-tlm button.fsc-xb {
    display: block;
    position: relative;
    font-family: var(--font-family) !important;
    font-size: .875rem !important;
    border: var(--btn-border);
    border-image: var(--btn-border-image) !important;
    background-image: var(--btn-bg-image) !important;
    padding: 0.15rem 0.48rem;
    border-radius: 3px;
    line-height: 1rem;
    z-index: 1;
    cursor: pointer;
}

.simple-calendar-tlm .fsc-ub.fsc-vb {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.simple-calendar-tlm .fsc-ub {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.simple-calendar-tlm .fsc-wb {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.simple-calendar-tlm .fsc-pf .fsc-qf .fsc-tf {
    flex: 1;
    margin-bottom: 0.2rem;
}

.simple-calendar-tlm .fsc-ej {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto 0;
    gap: 0.1rem;
}

.simple-calendar-tlm .fsc-mf {
    position: absolute;
    top: 2rem;
    height: 75%;
    min-width: 18.75rem;
    z-index: -1;
}

.simple-calendar-tlm .fsc-vf button.fsc-xb {
    margin: 0 0 0.5rem 0 !important;
    font-weight: 600;
    white-space: nowrap;
}

.simple-calendar-tlm .fsc-ub button svg {
    height: 1.125rem;
    margin-bottom: -0.25rem;
}

.simple-calendar-tlm button {
    color: var(--button-text-color);
}

.simple-calendar-tlm .fsc-mf.fsc-b {
    visibility: visible;
    left: 100%;
    overflow: auto;
    padding: 1px
}

.simple-calendar-tlm .sc-right>h2 {
    flex: none;
    padding: 0.2rem 0.5rem;
}

.simple-calendar-tlm .fsc-ak,
.simple-calendar-tlm label.fsc-ak,
.simple-calendar-tlm .form-fields .fsc-ak {
    font-size: .725rem;
    border-radius: 0.4375rem;
    padding: 0.2rem 0.4rem;
    margin-right: 0.3125rem;
    margin-bottom: 0.3125rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.simple-calendar-tlm .fsc-ak span,
.simple-calendar-tlm label.fsc-ak span,
.simple-calendar-tlm .form-fields .fsc-ak span {
    margin-right: 0.35rem;
    white-space: nowrap;
}

.simple-calendar-tlm .fsc-ig {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    padding: 0.5rem;
    font-size: .875rem;
}

.simple-calendar-tlm .fsc-ig input {
    height: 1.625rem;
    font-size: .875rem;
    text-align: left;
}

.simple-calendar-tlm .fsc-ig .fsc-xb:last-child {
    border-right-width: 1px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}

.simple-calendar-tlm .sc-right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border-radius: var(--border-radius);
    background-size: cover;
    margin-left: 0.5rem;
    box-shadow: var(--window-app-box-shadow);
    border: var(--window-app-border-style);
    border-color: var(--window-app-border-color);
    backdrop-filter: blur(4px);
    background-color: var(--window-app-background);
    background: var(--window-app-background);
    background-image: var(--tlm-sheet);
}

.simple-calendar-tlm .fsc-bf .fsc-fg,
.simple-calendar-tlm .fsc-bf .fsc-hg {
    margin-bottom: 0.5rem;
    padding: 0rem 1rem;
    border-bottom: var(--color-underline-header) solid 1px;
    padding-bottom: 0.75rem;
}

.simple-calendar-tlm .fsc-bf .fsc-fg .fsc-kj {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
}


.simple-calendar-tlm .fsc-b .fsc-hf {
    overflow: visible;
}

.simple-calendar-tlm .fsc-fg .fsc-jj {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.simple-calendar-tlm .fsc-bf .fsc-fg .fsc-gg {
    display: flex;
    flex-direction: row;
    margin: 0.5rem -0.5rem -0.5rem;
}

.simple-calendar-tlm .fsc-bf .fsc-fg .fsc-kj * {
    margin-right: 0.25rem;
}

.simple-calendar-tlm .fsc-h .fsc-s .fsc-t .fsc-v .fsc-w .fsc-ba .fsc-ta {
    background-color: var(--color-cool-1) !important;
    box-shadow: 0 0 1px black !important;
}

.simple-calendar-tlm .fsc-wb .fsc-_b {
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 100%;
    overflow: hidden;
    max-height: 0;
    padding: 0;
    font-size: .875rem;
}

.simple-calendar-tlm .fsc-wb .fsc-_b.fsc-b {
    visibility: visible;
    max-height: 15.625rem;
    border: none;
    border-radius: 3px;
    background: none;
    left: 30%;
}

.simple-calendar-tlm .fsc-mf.fsc-if.sc-right .fsc-ig>.fsc-xb {
    width: fit-content;
    margin-left: 5px;
}

.simple-calendar-tlm .window-content .fsc-wb .fsc-_b li {
    cursor: pointer;
    padding: 0.15rem 0.5rem;
}

.simple-calendar-tlm .fsc-ea>.fsc-ga {
    border: none;
    border-radius: 3px;
    background: none;
}

.simple-calendar-tlm .fsc-mg {
    padding: 0 0.5rem 0.5rem;
    overflow: hidden;
    max-height: 0;
}

.simple-calendar-tlm .fsc-if .fsc-mg.fsc-b {
    visibility: visible;
    max-height: 12.5rem;
}

.simple-calendar-tlm .sc-right.fsc-c {
    visibility: hidden;
    display: none;
}

.simple-calendar-tlm .fsc-if .fsc-mg .fsc-kg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: .75rem;
}

.simple-calendar-tlm .fsc-if .fsc-mg p {
    font-size: .75rem;
}

.simple-calendar-tlm .fsc-if .fsc-mg .fsc-kg label input[type=checkbox] {
    width: 0.75rem;
    height: 0.75rem;
    filter: unset;
}


.simple-calendar-tlm .fsc-if .fsc-hf {
    padding-top: 0.5rem;
}

.simple-calendar-tlm .fsc-mf em {
    font-size: .875rem;
    padding: 0 0.5rem;
}

.simple-calendar-tlm.fsc-uf header>*:not(.close) {
    display: none;
}

.simple-calendar-tlm.fsc-uf header {
    flex: 0 0 1rem !important;
    justify-content: flex-end;
    align-content: center;
}

.simple-calendar-tlm.fsc-uf header a.header-button.close {
    font-size: 0 !important;
    line-height: 0;
    padding-top: 2px;
}

.simple-calendar-tlm.fsc-uf header a.header-button.close i[class^=fa] {
    font-size: var(--font-size-14);
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-oj {
    position: absolute;
    top: 0;
    left: 0.4rem;
    height: 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    z-index: 1;
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-oj .fsc-ca {
    flex: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-oj .fsc-ca .fsc-va {
    height: 1rem;
    margin-top: 0.125rem;
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-pj {
    position: absolute;
    top: 0;
    right: 1.125rem;
    height: 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-pj .fsc-qj {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
    height: 1rem;
    margin-right: 0.25rem;
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-pj .fsc-qj button {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-pj .fsc-qj button {
    border: none;
    border-radius: 3px;
    background: none;
    background-color: unset;
    box-shadow: none;
    text-shadow: 0 0 3px black;
    transition: text-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, backdrop-filter 0.15s ease-in-out, border-radius 0.15s;
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-tf {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.25rem;
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-vb {
    flex-wrap: nowrap;
}


.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-tf .fsc-ej {
    display: flex;
    width: 2rem;
    margin-left: 0.25rem;
}


.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-xb svg {
    height: 0.875rem;
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-rf {
    width: fit-content;
    margin: 0 auto;
}


.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-mf.fsc-b {
    height: 12.5rem;
}

.simple-calendar-tlm .fsc-qf .fsc-lb {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 0;
    background-color: unset;
    color: unset;
}

.simple-calendar-tlm .fsc-lb .fsc-mb {
    margin-right: 0.5rem;
    margin-top: 0.2rem;
}


.simple-calendar-tlm .fsc-oj .fsc-ca svg {
    width: 0.6875rem;
    height: 0.6875rem;
    margin-right: 2px;
    font-size: .6875rem;
}

.simple-calendar-tlm .fsc-oj .fsc-n {
    height: 0.6rem;
    width: 0.6rem;
    margin-right: 4px;
    font-size: .6875rem;
}

.simple-calendar-tlm .fsc-pf {
    padding: 5px;
    padding-top: 7px;
}

.simple-calendar-tlm button:hover {
    border: 0px !important;
}

.simple-calendar-tlm .fsc-bf .fsc-fg .fsc-lj {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: .75rem;
}

.simple-calendar-tlm .sc-right.fsc-a {
    display: none !important;
    visibility: hidden !important;
}

.simple-calendar-tlm .fsc-bf .fsc-fg .fsc-lj div:not(:first-child),
.simple-calendar-tlm .sc-right .fsc-ck .fsc-dk div:not(:first-child) {
    margin-left: 0.5rem;
}

.simple-calendar-tlm .sc-right .fsc-ck .fsc-dk {
    align-items: center;
}

.simple-calendar-tlm .sc-right .fsc-ck .fsc-bk:last-child {
    padding: 1px 3px;
    border-radius: 3px;
}

.simple-calendar-tlm ::-webkit-scrollbar-thumb {
    outline: none !important;
    background: var(--color-scrollbar) !important;
    border: 1px solid var(--color-scrollbar-border) !important;
}

.simple-calendar-tlm .fsc-wb .fsc-_b.fsc-b {
    background-color: var(--window-app-background);
}

.simple-calendar-tlm .fsc-wb g,
.simple-calendar-tlm .fsc-wb line,
.simple-calendar-tlm .fsc-wb path,
.simple-calendar-tlm .fsc-wb circle,
.simple-calendar-tlm .fsc-lb .fsc-mb {
    fill: var(--button-text-color) !important;
    stroke: var(--button-text-color);
}

.simple-calendar-tlm .fsc-bf .fsc-fg,
.simple-calendar-tlm .fsc-hf .fsc-hg {
    border-image: linear-gradient(90deg, transparent, var(--color-warm-2) 20%, transparent) 1;
}

.simple-calendar-tlm .fsc-fg .fsc-ga .fsc-ja,
.simple-calendar-tlm .fsc-wb .fsc-_b.fsc-b,
.simple-calendar-tlm .fsc-ga .fsc-ja .fsc-la .fsc-na {
    backdrop-filter: blur(4px);
    background: var(--input-background-color) !important;
    border: var(--app-border-style) !important;
    border-color: var(--input-border-color) !important;
    border-radius: var(--border-radius);
    padding: 0.25rem;
    box-shadow: var(--box-shadow) !important;
}

body.game .fsc-h .fsc-r {
    background-color: var(--tlm-weekend);
}
