.profile-img {
  margin: 0 !important;
  max-width: 105% !important;
  max-height: unset !important;
  border: none !important;
  box-shadow: none !important;
  background-color: unset !important;
}

.actor-image {
  background-color: unset !important;
  border: none !important;
  box-shadow: none !important;
}

.character-details {
  grid: "img details details" auto/140px 140px 1fr !important;
}

.character-details .frame-container {
  margin-left: -10px !important;
  min-width: 150px;
  max-height: 150px;
}