#fsc-ng.simple-calendar-tlm .window-content {
    overflow: visible;
}

.simple-calendar-tlm.journal-sheet .window-content {
    position: unset;
    overflow-y: hidden !important;
}

.simple-calendar-tlm .fsc-vf {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.25rem 0.5rem;
}

.simple-calendar-tlm .fsc-if {
    display: flex;
    flex-direction: column;
}

.simple-calendar-tlm .fsc-pf .fsc-hh {
    margin: 0.5rem;
    flex: 1;
}

.simple-calendar-tlm button.fsc-xb {
    padding: 0.15rem 0.5rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.simple-calendar-tlm.simple-calendar-tlm.journal-sheet .fsc-xb {
    max-width: 6rem;
}

.simple-calendar-tlm .fsc-ub.fsc-vb {
    flex-direction: row;
}

.simple-calendar-tlm .fsc-ub {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    justify-content: space-around
}

.simple-calendar-tlm .fsc-wb {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.simple-calendar-tlm.journal-sheet .fsc-ug {
    flex: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.simple-calendar-tlm.journal-sheet .fsc-vg {
    overflow: hidden;
    margin-bottom: 0.5rem;
    user-select: text;
}


.simple-calendar-tlm.journal-sheet .fsc-ug .fsc-ah label {
    font-size: .725rem;
    cursor: pointer;
}

.simple-calendar-tlm .fsc-pf .fsc-qf .fsc-tf {
    margin: 0.25rem 0;
}

.simple-calendar-tlm .fsc-pf .fsc-qf:nth-child(2) {
    margin-bottom: 0.25rem;
}

.simple-calendar-tlm .fsc-mf {
    position: absolute;
    top: 1rem;
    height: 75%;
    min-width: 18rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border-radius: var(--border-radius);
    margin: 0.75rem;
    box-shadow: var(--window-app-box-shadow);
    border: var(--window-app-border-style);
    border-color: var(--window-app-border-color);
    backdrop-filter: blur(4px);
    background-color: var(--window-app-background) !important;
    background: var(--tlm-sheet);
    background-size: cover !important;
}

.simple-calendar-tlm .sc-right {
    left: 100%;
}

.simple-calendar-tlm .sc-down {
    top: 100%;
}

.simple-calendar-tlm .sc-left {
    right: 100%;
}

.simple-calendar-tlm .fsc-vf>button.fsc-xb {
    margin: 0 0 0.5rem 0 !important;
    width: 3rem;
}

.simple-calendar-tlm .fsc-ub button svg {
    height: 1.125rem;
}

.simple-calendar-tlm button {
    color: var(--button-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.simple-calendar-tlm .fsc-bf .fsc-fg,
.simple-calendar-tlm .fsc-hf .fsc-hg,
.simple-calendar-tlm .fsc-mg,
.simple-calendar-tlm .fsc-mf .fsc-jg,
.simple-calendar-tlm .fsc-ig,
.simple-calendar-tlm .fsc-if .fsc-hf:has(em),
.simple-calendar-tlm .fsc-mf h2,
.simple-calendar-tlm .fsc-mf>em {
    padding: 0.5rem 0.5rem !important;
    margin-bottom: 0;
}

.simple-calendar-tlm .fsc-bf .fsc-fg,
.simple-calendar-tlm .fsc-hf .fsc-hg,
.simple-calendar-tlm .fsc-mg,
.simple-calendar-tlm .fsc-mf .fsc-jg {
    border-bottom: var(--color-underline-header) solid 1px;
    border-image: linear-gradient(90deg, transparent, var(--color-underline-header) 20%, transparent) 1;
}

.simple-calendar-tlm .fsc-mf .fsc-jg {
    padding-top: 0 !important;
}

.simple-calendar-tlm .fsc-ig {
    align-items: stretch !important;
}

.simple-calendar-tlm .fsc-bf .fsc-fg .fsc-kj {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
}


.simple-calendar-tlm .fsc-b .fsc-hf {
    overflow: visible;
}

.simple-calendar-tlm .fsc-bf .fsc-fg .fsc-gg {
    margin-top: 0.5rem;
}

.simple-calendar-tlm .fsc-wb .fsc-_b {
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 100%;
    overflow: hidden;
    max-height: 0;
    padding: 0;
    font-size: .875rem;
}

.simple-calendar-tlm .fsc-wb .fsc-_b.fsc-b {
    visibility: visible;
    max-height: 15.625rem;
    border: none;
    border-radius: 3px;
    background: none;
    left: 30%;
}

.simple-calendar-tlm .fsc-mf.fsc-if .fsc-ig>.fsc-xb {
    width: fit-content;
    margin-left: 5px;
}

.simple-calendar-tlm .window-content .fsc-wb .fsc-_b li {
    cursor: pointer;
    padding: 0.15rem 0.5rem;
}

.simple-calendar-tlm .fsc-ea>.fsc-ga {
    border: none;
    border-radius: 3px;
    background: none;
}

.simple-calendar-tlm .fsc-mg {
    display: none;
}

.simple-calendar-tlm .fsc-if .fsc-mg.fsc-b {
    display: block !important;
}

.simple-calendar-tlm .fsc-if .fsc-mg p,
.simple-calendar-tlm .fsc-mg.fsc-b div,
.simple-calendar-tlm .fsc-hf .fsc-hg .fsc-ck .fsc-dk {
    font-size: .75rem;
}

.simple-calendar-tlm .fsc-if .fsc-mg .fsc-kg label input[type=checkbox] {
    width: 0.75rem;
    height: 0.75rem;
    filter: unset;
}

.simple-calendar-tlm .window-content form input[type=checkbox].fsc-uh {
    min-width: 2rem;
    height: 1rem;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    float: left;
}

.simple-calendar-tlm.journal-sheet .fsc-ug h1 .fsc-ah input {
    display: none;
}

.simple-calendar-tlm.fsc-uf header>*:not(.close) {
    display: none;
}

.simple-calendar-tlm.fsc-uf header {
    flex: 0 0 1rem !important;
    justify-content: flex-end;
}

.simple-calendar-tlm.fsc-uf header a.header-button.close {
    font-size: 0 !important;
    line-height: 0;
    padding-top: 2px;
}

.simple-calendar-tlm.fsc-uf header a.header-button.close i[class^=fa] {
    font-size: var(--font-size-14);
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-oj {
    position: absolute;
    top: 0;
    left: 0.4rem;
    height: 1rem;
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-pj {
    position: absolute;
    top: 0;
    right: 1.5rem;
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-pj .fsc-qj .fsc-xb {
    padding: 0 8px;
    margin: 0;
    font-size: 11px;
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-oj .fsc-ca .fsc-va {
    height: 1rem;
    margin-top: 0.125rem;
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-pj .fsc-qj,
.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-pj,
.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-pj .fsc-qj button,
.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-oj .fsc-ca,
.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-oj,
.simple-calendar-tlm .fsc-wf,
.simple-calendar-tlm .fsc-ig,
.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-tf,
.simple-calendar-tlm .fsc-qf .fsc-lb {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-pj .fsc-qj button {
    border: none;
    background: none;
    background-color: unset;
    box-shadow: none;
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-tf .fsc-fj,
.simple-calendar-tlm .fsc-qf .fsc-vf .fsc-fj {
    display: flex;
    align-items: center;
    width: 2rem;
    margin-left: 0.25rem;
}


.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-xb svg {
    height: 0.875rem;
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-mf.fsc-b {
    height: 12.5rem;
}

.simple-calendar-tlm .fsc-h {
    margin: 0 !important;
    padding: 0.25rem !important;
}

.simple-calendar-tlm .fsc-g .fsc-ea {
    margin-top: 0 !important;
}

.simple-calendar-tlm .fsc-qf .fsc-lb {
    padding: 0;
    margin-bottom: 0;
    background-color: unset;
}

.simple-calendar-tlm .fsc-lb .fsc-mb {
    margin-right: 0.5rem;
    margin-top: 0.2rem;
}


.simple-calendar-tlm .fsc-oj .fsc-ca svg {
    width: 0.6875rem;
    height: 0.6875rem;
    margin-right: 2px;
    font-size: .6875rem;
}

.simple-calendar-tlm .fsc-rf,
.simple-calendar-tlm .fsc-ak {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.simple-calendar-tlm .fsc-oj .fsc-n {
    height: 0.6rem;
    width: 0.6rem;
    margin-right: 4px;
    font-size: .6875rem;
}

.simple-calendar-tlm .fsc-bf .fsc-fg .fsc-lj {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: .75rem;
}

.simple-calendar-tlm .fsc-mf.fsc-a,
.simple-calendar-tlm .fsc-mf.fsc-c {
    display: none !important;
    visibility: hidden !important;
}

.simple-calendar-tlm .fsc-bf .fsc-fg .fsc-lj div:not(:first-child),
.simple-calendar-tlm .fsc-mf .fsc-ck .fsc-dk div:not(:first-child),
.simple-calendar-tlm .fsc-rf div:not(:first-child) {
    margin-left: 0.25rem;
}

.simple-calendar-tlm.journal-sheet .fsc-vg section {
    overflow-y: auto;
    word-break: break-word;
    height: 100%;
}

.simple-calendar-tlm .fsc-mf .fsc-ck .fsc-dk {
    align-items: center;
}

.simple-calendar-tlm .fsc-bk {
    padding: 1px 2px;
    border-radius: 3px;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: .725rem;
}

.simple-calendar-tlm .fsc-dk .fsc-bk span,
.simple-calendar-tlm .fsc-rf .fsc-bk span {
    margin-right: 0.25rem;
}

.simple-calendar-tlm .fsc-ug .fsc-ah.fsc-bk {
    font-size: .725rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0;
    cursor: pointer;
    min-width: 30px;
    justify-content: center;
}

.simple-calendar-tlm .fsc-pf {
    display: flex;
    flex-direction: column;
}

.simple-calendar-tlm .fsc-qf {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.simple-calendar-tlm.journal-sheet form .fsc-wg {
    flex: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
}

.simple-calendar-tlm.journal-sheet.journal-sheet form {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.simple-calendar-tlm.journal-sheet {
    min-height: unset;
    min-width: unset;
}

.simple-calendar-tlm.journal-sheet .fsc-ug h1 {
    flex: 1 0 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.simple-calendar-tlm.journal-sheet .fsc-ug h1 .fsc-jk {
    flex: 1;
    word-break: break-word;
}

.simple-calendar-tlm ::-webkit-scrollbar-thumb {
    outline: none !important;
    background: var(--color-scrollbar) !important;
    border: 1px solid var(--color-scrollbar-border) !important;
}

.simple-calendar-tlm .fsc-wb .fsc-_b.fsc-b {
    background-color: var(--window-app-background);
}

.simple-calendar-tlm .fsc-wb g,
.simple-calendar-tlm .fsc-wb line,
.simple-calendar-tlm .fsc-wb path,
.simple-calendar-tlm .fsc-wb circle {
    fill: var(--button-text-color) !important;
    stroke: var(--button-text-color);
}

.simple-calendar-tlm .fsc-lb .fsc-mb {
    fill: var(--color-text-dark-primary) !important;
    stroke: var(--color-text-dark-primary);
}

.simple-calendar-tlm .fsc-ga .fsc-ja,
.simple-calendar-tlm .fsc-wb .fsc-_b.fsc-b,
.simple-calendar-tlm .fsc-ga .fsc-ja .fsc-la .fsc-na,
.simple-calendar-tlm .fsc-ga.fsc-mf {
    backdrop-filter: blur(4px);
    background: var(--input-background-color) !important;
    border: var(--app-border-style) !important;
    border-color: var(--input-border-color) !important;
    border-radius: var(--border-radius) !important;
    padding: 0.25rem;
    box-shadow: var(--box-shadow) !important;
}

.simple-calendar-tlm .fsc-h .fsc-s .fsc-t .fsc-v .fsc-w .fsc-ba .fsc-ta {
    background-color: color-mix(in srgb, black 10%, var(--accent-color)) !important;
    box-shadow: var(--box-shadow) !important;
    margin-right: 0 !important;
}

.simple-calendar-tlm .fsc-h .fsc-r {
    background-color: color-mix(in srgb, var(--color-cool-1) 5%, transparent) !important;
}

.simple-calendar-tlm .fsc-h .fsc-s .fsc-t .fsc-v .fsc-w {
    border: 1px solid !important;
    border-color: color-mix(in srgb, var(--color-border-divider) 30%, transparent) !important;
}

.simple-calendar-tlm .fsc-h .fsc-s .fsc-t .fsc-v .fsc-w.fsc-x {
    background-color: color-mix(in srgb, var(--color-warm-2) 90%, transparent) !important;
}

.simple-calendar-tlm .fsc-v .fsc-w.fsc-aa {
    background-color: color-mix(in srgb, var(--color-warm-3) 30%, transparent) !important;
}


.simple-calendar-tlm .window-content form .fsc-qi {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.simple-calendar-tlm .window-content form .fsc-qi>input[type=text]:focus~label,
.simple-calendar-tlm .window-content form .fsc-qi>input[type=text]:not(:placeholder-shown)~label,
.simple-calendar-tlm .window-content form .fsc-qi>input[type=number]:focus~label,
.simple-calendar-tlm .window-content form .fsc-qi>input[type=number]:not(:placeholder-shown)~label,
.simple-calendar-tlm .window-content form .fsc-qi>input[type=range]:focus~label,
.simple-calendar-tlm .window-content form .fsc-qi>input[type=range]:not(:placeholder-shown)~label,
.simple-calendar-tlm .window-content form .fsc-qi>select:focus~label,
.simple-calendar-tlm .window-content form .fsc-qi>select:not(:placeholder-shown)~label,
.simple-calendar-tlm .window-content form .fsc-qi>.fsc-ec:focus~label,
.simple-calendar-tlm .window-content form .fsc-qi>.fsc-ec:not(:placeholder-shown)~label,
.simple-calendar-tlm .window-content form .fsc-qi>.fsc-ob:focus~label,
.simple-calendar-tlm .window-content form .fsc-qi>.fsc-ob:not(:placeholder-shown)~label {
    transform: scale(0.85) translateY(-0.6rem) translateX(-0.2rem);
}

.simple-calendar-tlm .window-content form .fsc-qi>input[type=text],
.simple-calendar-tlm .window-content form .fsc-qi>input[type=number],
.simple-calendar-tlm .window-content form .fsc-qi>input[type=range],
.simple-calendar-tlm .window-content form .fsc-qi>select,
.simple-calendar-tlm .window-content form .fsc-qi>.fsc-ec,
.simple-calendar-tlm .window-content form .fsc-qi>.fsc-ob {
    width: 100%;
    height: calc(2.5rem + 2px);
    font-size: .875rem;
}

.simple-calendar-tlm form .fsc-qi label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0;
    pointer-events: none;
    border: none;
    transform-origin: 0 0;
    font-size: .875rem;
}

.simple-calendar-tlm .window-content form .fsc-ui {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    margin: 1rem 0;
}

/* theme specific css*/
[data-dorako-ui-theme=bg3].simple-calendar-tlm {
    --tlm-sheet: var(--window-app-background);
}

[data-dorako-ui-theme=foundry2].simple-calendar-tlm .fsc-lb .fsc-mb {
    fill: var(--color-light-3) !important;
    stroke: var(--color-light-3);
}


[data-dorako-ui-theme=crb][data-color-scheme=light].simple-calendar-tlm {
    --tlm-sheet: url(../../pf2e-dorako-ui/img/background-light.webp);
}

[data-dorako-ui-theme=crb][data-color-scheme=light].simple-calendar-tlm .fsc-pf {
    color: var(--text-dark);
}

[data-dorako-ui-theme=crb][data-color-scheme=dark].simple-calendar-tlm {
    --tlm-sheet: url(../../pf2e-dorako-ui/img/background-dark4.webp);
}

[data-dorako-ui-theme=crb][data-color-scheme=dark].simple-calendar-tlm .fsc-pf {
    color: var(--text-light);
}

[data-dorako-ui-theme=crb][data-color-scheme=dark].simple-calendar-tlm .fsc-lb .fsc-mb {
    fill: var(--text-light) !important;
    stroke: var(--text-light);
}