.profile-img {
  margin: 0 !important;
  max-width: 105% !important;
  max-height: unset !important;
  border: none !important;
  box-shadow: none !important;
  background-color: unset !important;
}

.actor-image {
  background-color: unset !important;
  border: none !important;
  box-shadow: none !important;
}

.subsection.details {
  grid-template-columns: 170px  minmax(0, 1fr) !important;
}

.actor.sheet.character .subsection.details  .abcd {
  padding-left: 0.5rem !important;
}