:root {
    --tlm-weekend: rgb(69 56 48/ 50%);
}

.simple-calendar-tlm .fsc-v .fsc-w.fsc-aa {
    background-color: var(--color-border-dark-3) !important;
}

.simple-calendar-tlm .fsc-h .fsc-s .fsc-t .fsc-v .fsc-w {
    border: 1px solid var(--color-border-dark-4) !important;
}

.simple-calendar-tlm .fsc-h .fsc-s .fsc-t .fsc-v .fsc-w.fsc-x {
    background-color: var(--color-warm-3) !important;
}

.simple-calendar-tlm .sc-right {
    background-image: var(--window-app-background);
}