.profile-img {
  margin: 0 !important;
  max-width: 105% !important;
  max-height: unset !important;
  border: none !important;
  box-shadow: none !important;
  background-color: unset !important;
}

.actor-image{
  background-color: unset !important;
  border: none !important;
  box-shadow: none !important;
}

.character-details {
  grid:
    "img alignment deity" 46px "img details details" auto/130px 130px 1fr !important;;
}

.character-details .frame-container {
  margin-left: -10px !important;
  min-width: 150px;
  max-height: 150px;
}

.alignment {
  margin-left: 26px !important;
  margin-right: -26px !important;
}

.alignment::before {
  background: url("/modules/the-longest-mile/images/banner-bg1.webp") no-repeat 100%;
  content: "";
  height: 46px;
  position: absolute;
  left: -15px;
  top: 0px;
  width: 15px;
}