:root {
    --sheet-dark: url(../../pf2e-dorako-ui/img/background-dark4.webp);
    --tlm-brown: #956D58;
    --tlm-gold: #E9D7A1;
}

.simple-calendar-tlm {
    height: fit-content !important;
    width: fit-content !important;
}

.simple-calendar-tlm .window-content {
    padding: 0 !important;
    overflow: visible;
}

.simple-calendar-tlm .fsc-pf {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.simple-calendar-tlm .fsc-qf {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.simple-calendar-tlm .fsc-fg {
    flex: 1;
}

.simple-calendar-tlm .fsc-vf {
    flex: 0 0 3.875rem;
    display: flex;
    flex-direction: column;
    width: 3.875rem;
    margin-left: 0.5rem;
    padding: 0 0.5rem;
}

.simple-calendar-tlm .fsc-mf.fsc-c {
    visibility: hidden;
}

.simple-calendar-tlm .fsc-if {
    display: flex;
    flex-direction: column;
}

.fsc-ga.fsc-ha {
    opacity: 0;
    height: 0;
    visibility: hidden;
}

.simple-calendar-tlm .fsc-pf .fsc-hh {
    margin: 0 0 0.5rem 0;
    flex: 1;
}

.simple-calendar-tlm button.fsc-xb {
    display: block;
    position: relative;
    font-family: var(--font-family) !important;
    font-size: .875rem !important;
    border: var(--btn-border);
    border-image: var(--btn-border-image) !important;
    background-image: var(--btn-bg-image) !important;
    padding: 0.15rem 0.48rem;
    border-radius: 3px;
    line-height: 1rem;
    z-index: 1;
    cursor: pointer;
}

.simple-calendar-tlm .fsc-ub.fsc-vb {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.simple-calendar-tlm .fsc-ub {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.simple-calendar-tlm .fsc-wb {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.simple-calendar-tlm .fsc-pf .fsc-qf .fsc-tf {
    flex: 1;
    margin-bottom: 0.2rem;
}

.simple-calendar-tlm .fsc-ej {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto 0;
    gap: 0.1rem;
}

.simple-calendar-tlm .fsc-mf {
    position: absolute;
    top: 2rem;
    height: 75%;
    min-width: 18.75rem;
    z-index: -1;
}

.simple-calendar-tlm .fsc-vf button.fsc-xb {
    margin: 0 0 0.5rem 0 !important;
    font-weight: 600;
    white-space: nowrap;
}

.simple-calendar-tlm .fsc-ub button svg {
    height: 1.125rem;
    margin-bottom: -0.25rem;
}

.simple-calendar-tlm .fsc-mf.fsc-b {
    visibility: visible;
    left: 100%;
    overflow: auto;
    padding: 1px
}

.simple-calendar-tlm .window-content ::-webkit-scrollbar-thumb {
    background: var(--tlm-gold) !important;
    border-color: var(--tlm-brown) !important;
    width: 6px;
}

.simple-calendar-tlm .fsc-wb g,
.simple-calendar-tlm .fsc-wb line,
.simple-calendar-tlm .fsc-wb path,
.simple-calendar-tlm .fsc-wb circle,
.simple-calendar-tlm .fsc-lb .fsc-mb {
    fill: var(--color-text-light-heading);
    stroke: var(--color-text-light-heading);
}

.simple-calendar-tlm .sc-right>h2 {
    flex: none;
    padding: 0.2rem 0.5rem;
}

.simple-calendar-tlm .fsc-ak.fsc-lh,
.simple-calendar-tlm label.fsc-ak.fsc-lh,
.simple-calendar-tlm .form-fields .fsc-ak.fsc-lh {
    background-color: var(--note-cat-danger-bg-color);
    border-color: var(--note-cat-danger-bg-color);
    color: var(--note-cat-danger-color);
}


.simple-calendar-tlm .fsc-ak,
.simple-calendar-tlm label.fsc-ak,
.simple-calendar-tlm .form-fields .fsc-ak {
    font-size: .725rem;
    border-radius: 0.4375rem;
    padding: 0.2rem 0.4rem;
    margin-right: 0.3125rem;
    margin-bottom: 0.3125rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--note-cat-bg-color);
    border-color: var(--note-cat-bg-color);
    color: var(--note-cat-color);
    box-shadow: 1px 1px 5px var(--note-cat-box-shadow-color);
}

.simple-calendar-tlm .fsc-ak span,
.simple-calendar-tlm label.fsc-ak span,
.simple-calendar-tlm .form-fields .fsc-ak span {
    margin-right: 0.35rem;
    white-space: nowrap;
}

.simple-calendar-tlm .fsc-ig {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    padding: 0.5rem;
    font-size: .875rem;
}

.simple-calendar-tlm .fsc-ig input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0;
    height: 1.625rem;
    color: var(--search-box-color) !important;
    font-size: .875rem;
    text-align: left;
}

.simple-calendar-tlm .fsc-ig .fsc-xb:last-child {
    border-right-width: 1px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.simple-calendar-tlm .sc-right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    box-shadow: 0 0 0 1px var(--gold-brown) inset, 0 0 0 2px var(--tertiary) inset;
    background-image: var(--sheet-dark);
    color: var(--color-text-light-heading);
    border-radius: 0px 0px 3px 3px;
}

.simple-calendar-tlm .fsc-bf .fsc-fg {
    border-radius: 0.3125rem;
    margin: 0.5rem;
    padding: 0.5rem;
}

.simple-calendar-tlm .fsc-bf .fsc-fg .fsc-kj {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    font-size: .75rem;
}

.simple-calendar-tlm .fsc-b .fsc-hf {
    overflow: visible;
}

.simple-calendar-tlm .fsc-b .fsc-hg {
    border-bottom: 1px solid var(--tlm-gold) !important;
    margin: 1px;
}

.simple-calendar-tlm .fsc-fg .fsc-jj {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.simple-calendar-tlm .fsc-bf .fsc-fg .fsc-gg {
    display: flex;
    flex-direction: row;
    margin: 0.5rem -0.5rem -0.5rem;
}

.simple-calendar-tlm .fsc-bf .fsc-fg .fsc-kj * {
    margin-right: 0.25rem;
}

.simple-calendar-tlm .fsc-h .fsc-s .fsc-t .fsc-v .fsc-w {
    border: 1px solid var(--color-border-dark-1) !important;
}

body.game .fsc-h .fsc-r {
    background-color: var(--glass-bg-light);
}

.simple-calendar-tlm .fsc-h .fsc-s .fsc-t .fsc-v .fsc-w .fsc-ba .fsc-ta {
    background-color: var(--secondary-light) !important;
    color: var(--color-text-light-heading) !important;
    box-shadow: 0 0 1px black !important;
}

.simple-calendar-tlm .fsc-h .fsc-s .fsc-t .fsc-v .fsc-w.fsc-x {
    box-shadow: inset 0 0 5px var(--color-border-dark-1) !important;
    background-color: var(--mats-green-dark) !important;
}

.simple-calendar-tlm .fsc-wb .fsc-_b {
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 100%;
    overflow: hidden;
    max-height: 0;
    padding: 0;
    font-size: .875rem;
}

.simple-calendar-tlm .fsc-wb .fsc-_b.fsc-b {
    visibility: visible;
    max-height: 15.625rem;
    border: none;
    border-radius: 3px;
    background: none;
    background-color: var(--glass-bg);
    box-shadow: var(--glassy);
    left: 30%;
}

.simple-calendar-tlm .fsc-mf.fsc-if.sc-right .fsc-ig>.fsc-xb {
    width: fit-content;
}

.simple-calendar-tlm .window-content .fsc-wb .fsc-_b li {
    cursor: pointer;
    padding: 0.15rem 0.5rem;
}

.simple-calendar-tlm .fsc-ea>.fsc-ga {
    border: none;
    border-radius: 3px;
    background: none;
    background-color: var(--glass-bg);
    box-shadow: var(--glassy);
}

.simple-calendar-tlm .fsc-if .fsc-mg {
    padding: 0 0.5rem 0.5rem;
    overflow: hidden;
    border-bottom: 1px solid var(--tlm-gold);
    max-height: 0;
}

.simple-calendar-tlm .fsc-if .fsc-mg.fsc-b {
    visibility: visible;
    max-height: 12.5rem;
}

.simple-calendar-tlm .fsc-if .fsc-mg.fsc-c {
    visibility: hidden;
}

.simple-calendar-tlm .fsc-if .fsc-mg .fsc-kg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: .75rem;
}

.simple-calendar-tlm .fsc-if .fsc-mg p {
    font-size: .75rem;
}

.simple-calendar-tlm .fsc-if .fsc-mg .fsc-kg label input[type=checkbox] {
    width: 0.75rem;
    height: 0.75rem;
    filter: unset;
}

.simple-calendar-tlm .fsc-if .fsc-jg {
    padding: 0 0.5rem 0.25rem;
    margin: 0;
    border-bottom: 1px solid var(--tlm-gold);
    cursor: pointer;
}

.simple-calendar-tlm .fsc-if .fsc-hf {
    padding-top: 0.5rem;
}

.simple-calendar-tlm .fsc-mf em {
    font-size: .875rem;
    padding: 0 0.5rem;
}

.simple-calendar-tlm .fsc-ga .fsc-ja .fsc-la .fsc-na {
    background-color: var(--glass-bg) !important;
    box-shadow: var(--glassy);
}

.simple-calendar-tlm.fsc-uf header>*:not(.close) {
    display: none;
}

.simple-calendar-tlm.fsc-uf header {
    flex: 0 0 1rem !important;
    justify-content: flex-end;
    align-content: center;
}

.simple-calendar-tlm.fsc-uf header a.header-button.close {
    font-size: 0 !important;
    line-height: 0;
    padding-top: 2px;
}

.simple-calendar-tlm.fsc-uf header a.header-button.close i[class^=fa] {
    font-size: var(--font-size-14);
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-nj {
    position: absolute;
    top: 0;
    left: 0.4rem;
    height: 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    z-index: 1;
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-nj .fsc-ca {
    flex: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-nj .fsc-ca .fsc-va {
    height: 1rem;
    margin-top: 0.125rem;
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-oj {
    position: absolute;
    top: 0;
    right: 1.125rem;
    height: 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-oj .fsc-pj {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
    height: 1rem;
    margin-right: 0.25rem;
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-oj .fsc-pj .fsc-_f{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-oj .fsc-pj button {
    border: none;
    border-radius: 3px;
    background: none;
    background-color: unset;
    box-shadow:none;
    text-shadow: 0 0 3px black;
    transition: text-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, backdrop-filter 0.15s ease-in-out, border-radius 0.15s;
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-tf {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.25rem;
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-vb {
    flex-wrap: nowrap; 
}


.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-tf .fsc-ej {
    display: flex;
    width: 2rem;
    margin-left: 0.25rem;
}


.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-xb svg {
    height: 0.875rem;
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-rf {
    width: fit-content;
    margin: 0 auto;
}


.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-mf.fsc-b {
    height: 12.5rem;
}

.simple-calendar-tlm .fsc-qf .fsc-lb {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 0;
    background-color: unset;
    color: unset;
}

.simple-calendar-tlm .fsc-lb .fsc-mb {
    margin-right: 0.5rem;
    margin-top: 0.2rem;
}