:root {
    --tlm-sheet: url(../../../ui/parchment.jpg);
    --tlm-weekend: rgb(239 237 224 / 60%);
}

.simple-calendar-tlm .fsc-wb g,
.simple-calendar-tlm .fsc-wb line,
.simple-calendar-tlm .fsc-wb path,
.simple-calendar-tlm .fsc-wb circle,
.simple-calendar-tlm .fsc-lb .fsc-mb {
    fill: var(--text-dark);
    stroke: var(--text-dark);
}

.simple-calendar-tlm .fsc-v .fsc-w.fsc-aa {
    box-shadow: inset 0 0 5px var(--color-border-light-primary) !important;
    background-color: var(--color-border-light-highlight) !important;
}

.simple-calendar-tlm .sc-right {
    box-shadow: 0 0 0 1px var(--gold-brown) inset, 0 0 0 2px var(--tertiary) inset;
    color: var(--color-text-dark-heading);
}

.simple-calendar-tlm .fsc-h .fsc-s .fsc-t .fsc-v .fsc-w {
    border: 1px solid var(--color-border-light-primary) !important;
}

body.game .fsc-h .fsc-r {
    background-color: var(--tlm-weekend);
}

.simple-calendar-tlm .fsc-b .fsc-hg {
    border-bottom: 1px solid var(--tlm-brown) !important;
}

.simple-calendar-tlm .sc-right {
    box-shadow: 0 0 0 1px var(--gold-brown) inset, 0 0 0 2px var(--tertiary) inset;
    color: var(--color-text-dark-1);
}

.simple-calendar-tlm .fsc-h .fsc-s .fsc-t .fsc-v .fsc-w.fsc-x {
    box-shadow: inset 0 0 5px rgb(106 141 89) !important;
    background-color: var(--mats-green-light) !important;
}

.simple-calendar-tlm .fsc-wb .fsc-_b.fsc-b {
    background-color: var(--glass-bg);
    box-shadow: var(--glassy);
}

.simple-calendar-tlm .fsc-fg .fsc-ga .fsc-ja {
    color: var(--color-text-light-highlight);
}

.simple-calendar-tlm .fsc-qf .fsc-ga.sc-right {
    color: var(--color-text-dark-1);
}

.simple-calendar-tlm.fsc-uf .fsc-pf .fsc-oj .fsc-pj button {
    color: var(--color-text-light-highlight);
}